.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
*.html
addressbook-web-testing/build/reports/tests/test/index.html
addressbook-web-testing/build/reports/tests/test/index.html
addressbook-web-testing/build/reports/tests/test/packages/ru.udjin.addressbook.category.tests.html
addressbook-web-testing/build/test-results/test/binary/output.bin
addressbook-web-testing/build/test-results/test/binary/results.bin
*.html
addressbook-web-testing/build/test-results/test/TEST-ru.udjin.addressbook.category.tests.DeleteGroupTestCase.xml
addressbook-web-testing/build/test-results/test/TEST-ru.udjin.addressbook.category.tests.AddGroupTestCase.xml
addressbook-web-testing/build/test-results/test/TEST-ru.udjin.addressbook.category.tests.DeleteGroupTestCase.xml
addressbook-web-testing/build/test-results/test/binary/results.bin
addressbook-web-testing/build/test-results/test/binary/results.bin
addressbook-web-testing/build/test-results/test/binary/output.bin.idx
addressbook-web-testing/build/test-results/test/binary/results.bin
addressbook-web-testing/build/test-results/test/binary/output.bin
addressbook-web-testing/build/reports/tests/test/packages/ru.udjin.addressbook.category.tests.html
addressbook-web-testing/build/reports/tests/test/index.html
addressbook-web-testing/build/reports/tests/test/index.html
*.html
addressbook-web-testing/build/test-results/test/binary/results.bin
addressbook-web-testing/build/test-results/test/binary/output.bin.idx
addressbook-web-testing/build/test-results/test/binary/output.bin
addressbook-web-testing/build/reports/tests/test/packages/ru.udjin.addressbook.category.tests.html
addressbook-web-testing/build/reports/tests/test/index.html
addressbook-web-testing/build/reports/tests/test/index.html
addressbook-web-testing/build/reports/tests/test/packages/ru.udjin.addressbook.category.tests.html
addressbook-web-testing/build/test-results/test/binary/output.bin
addressbook-web-testing/build/test-results/test/binary/output.bin.idx
addressbook-web-testing/build/test-results/test/binary/results.bin
addressbook-web-testing/build/classes/java/test/ru/udjin/addressbook/category/appmanager/GroupHelper.class
addressbook-web-testing/build/test-results/test/binary/results.bin
addressbook-web-testing/build/test-results/test/binary/results.bin
*.jar
*.xml
*.properties
*.bat
*.gradle
*.java
sandbox/gradlew
